html,body{
    font-family: Arial,Helvetica,sans-serif;
    height: 100%;
    background-color: #f5f5f5!important;
}
#wrapper{
    min-height: 100%;
    position: relative;
}
a{
    text-decoration: none!important;
    list-style: none;
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold!important;
    font-family: Georgia,times new roman,serif!important;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0!important;
}
#top-header li{
    display: inline-block;
    height: 37px;
    border-right: 1px solid #6f6f6f;
}
#top-header{
    height: 39px;
    background-color: #1b1b1b;
    overflow: hidden;
    display: block;
}
#top-header a{
    color: white;
    font-size: 13px;
    padding: 11px 13px 11px 5px;
    display: block;
}
.container{
    width: 990px!important;
    display: block;
    margin: 0 auto;
    padding: 0!important;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
#logo-header{
    padding: 20px;
    height: 178px;
    display: block;
}
#logo-header .logo img{
}
.logo{
    display: block;
    float: left;
    margin-left: -30px;
}
.slogan{
    color: #636363;
    margin-left: 86px;
    margin-top: 53px;
    float: left;
    font-size: 18px;
}
#mainNav{
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    display: block;
    height: 39px;
    position: relative;
    z-index: 10;
}
#mainNav ul li{
    float: left;
    display: list-item;
}
#mainNav ul li a{
    color: #231F20;
    text-align: center;
    width: 165px;
    padding: 9px 0 8px;
    font-weight: bold;
    font-size: 14px;
    font-family: GeorgiaVN, Georgia, times new roman,serif;
    display: block;
}
#mainNav ul li a:hover{
    background-color: #1b1b1b;
    color: white!important;
}
#mainNav ul li ul.sub-menu{
    top: 37px;
    position: absolute;
    background: #e8e8e8;
    border: 1px solid #d5d5d5;
    width: 280px;
    display: none;
}
#gioi-thieu-chung .sub-menu{
    left: 0;
}
#khoa-hoc .sub-menu{
    left: 330px;
}
#menu{
    position: relative;
}
ul.sub-menu li{
    width: 100%!important;
}
ul.sub-menu li a{
    width: 100%!important;
    text-align: left!important;
    padding-left: 15px!important;
}
.contents{
    width:  650px;
    margin-right: 35px;
}
.sidebar{
    width: 304px;
}
#footer{
    margin-top: 20px;
    overflow: hidden;
    //position: absolute;
    //bottom: 0;
    width: 100%;
}
.blockFooter{
    background-color: #1b1b1b;
    border-top: 3px solid #BDBDBD;
    padding: 15px 0;
    overflow: hidden;
}
.blockFooter .block{
    display: block;
    margin-right: 30px;
    min-width: 158px;
}
.blockFooter h3{
    font-size: 18px;
    padding-left: 15px;
    color: #f1f1f1;
}
.blockFooter ul{
    margin-left: 2px;
    padding: 10px 0 0 13px;
    border-left: 1px solid #7e7e7e;
}
.blockFooter li a{
    color: #7e7e7e;
    font-size: 11px;
}
.blockFooter li a:hover{
    color: #f1f1f1;
}
.facebook_icon{
    display: block!important;
    padding: 0!important;
    margin: 8px 13px;
}
.lang-switcher{
    display: block!important;
    padding: 5px 5px!important;
    margin: 8px 0px;
    height: 25px;
    border: 1px solid #969696;
}
.facebook_icon img{
    width: 23px;
    height: 23px;
}